body {
    height: 100vh;
    background-image: linear-gradient(rgba(230,230,224,.1), rgba(230,230,224,1));
}

header, main {
    padding:1em;   
}

h1 {
    font-size:7vw;
}

header h2 {
    font-size: 1.97vw;
    text-align: right;
}

.addThang, .listOfThangs {
    margin-top:2em;
}

.completedThang, .completeThang, #thangCompleted {
    background-color:#77dd77;
}

.btn {
    border:none;
    border-color:transparent;
     border-radius: 3px;
    padding: 3px 15px;
    color:black;
}

.btn-secondary {
    background: #c3c3c3;
}



.deleteThang {
    background-color:#ff6961;
}

.deleteThang {
    background-color:#ff6961;
}

#thangToCompleteName {
border-bottom:2px solid #77dd77;

}
#thangToDeleteName {
border-bottom:2px solid #ff6961;
}